# Amazon Comprehendì˜ ë°ì´í„°ì…‹ ì¤€ë¹„ì™€ Custom entity recognizer ì‹¤í–‰í•˜ê¸°

### [(ì›ë³¸)](https://github.com/aws-samples/amazon-comprehend-custom-entity/blob/master/1-AWS-Comprehend-Custom-Entities.ipynb)

ì´ ë…¸íŠ¸ë¶ì€ Amazon Comprehendì˜ custom entities ì˜ í•™ìŠµ ë°ì´í„°ì…‹ì„ ìœ„í•œ ì¤€ë¹„í•˜ëŠ” ë°©ë²•ì— ëŒ€í•´ ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

Custom entity recongizer ëª¨ë¸ì„ ìƒì„±í•˜ëŠ” ë°©ë²•ì— ëŒ€í•œ ì¶”ê°€ì ì¸ ì •ë³´ëŠ” ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤. 
https://docs.aws.amazon.com/comprehend/latest/dg/training-recognizers.html

In [38]:
# library imports
import re
import numpy as np
import pandas as pd
import matplotlib
import csv


ì´ë²ˆ ì˜ˆì œëŠ” twitter datasetì„ ì‚¬ìš©í•  ì˜ˆì •ìœ¼ë¡œ ë‹¤ìŒ ë§í¬ì—ì„œ ë°ì´í„°ì…‹ì„ ë‹¤ìš´ë¡œë“œí•˜ì—¬ ì••ì¶•ì„ í‘¼ í›„, ./data í´ë”ì— ì—…ë¡œë“œë¥¼ í•©ë‹ˆë‹¤. https://www.kaggle.com/thoughtvector/customer-support-on-twitter

ì—…ë¡œë“œ í•œ ë°ì´ë°ì…‹ì„ ì½ì–´ í™•ì¸í•©ë‹ˆë‹¤

In [41]:
tweets = pd.read_csv('./data/twcs.csv',encoding='utf-8')
print(tweets.shape)
tweets.head()

(2811774, 7)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

<a id='data-wrangling'></a>

## ë°ì´í„° ì „ì²˜ë¦¬

tweet ë°ì´í„° ì…‹ì€ í¥ë¯¸ë¡­ê²Œë„ ì•½ 3ë°±ë§Œ ê°œì˜ íŠ¸ìœ—ì„ í¬í•¨í•˜ê³  tweet ì‘ì„±ìì™€ tweetì´ ì§ˆì˜ì¸ì§€ ëŒ€ë‹µì¸ì§€ ("inbound" ì»¬ëŸ¼)ë¥¼ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤.
ë§Œì•½ tweetì´ ì§ˆì˜ì´ë©´ "response_tweet_id" ì»¬ëŸ¼ì—ëŠ” support teamì˜ ë‹µë³€ì´ ì œê³µë©ë‹ˆë‹¤. 

ê° í–‰ì—ì„œ ì§ˆì˜-ì‘ë‹µ ë°ì´í„°ì˜ ê²°ê³¼ê°’ì„ ì–»ê¸°ìœ„í•´ì„œ [ì´ ë§í¬](https://www.kaggle.com/soaxelbrooke/first-inbound-and-response-tweets)ì—ì„œ ì½”ë“œë¥¼ ê°€ì ¸ì™”ìŠµë‹ˆë‹¤.

In [42]:
first_inbound = tweets[pd.isnull(tweets.in_response_to_tweet_id) & tweets.inbound]

QnR = pd.merge(first_inbound, tweets, left_on='tweet_id', 
                                  right_on='in_response_to_tweet_id')

# Filter to only outbound replies (from companies)
QnR = QnR[QnR.inbound_y ^ True]
print(f'Data shape: {QnR.shape}')
QnR.head()

Data shape: (794299, 14)

,tweet_id_x,author_id_x,inbound_x,created_at_x,text_x,response_tweet_id_x,in_response_to_tweet_id_x,tweet_id_y,author_id_y,inbound_y,created_at_y,text_y,response_tweet_id_y,in_response_to_tweet_id_y
0,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
1,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,9,sprintcare,False,Tue Oct 31 21:46:14 +0000 2017,@115712 I would love the chance to review the ...,NaN,8.0
2,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,10,sprintcare,False,Tue Oct 31 21:45:59 +0000 2017,@115712 Hello! We never like our customers to ...,NaN,8.0
3,18,115713,True,Tue Oct 31 19:56:01 +0000 2017,@115714 yâ€™all lie about your â€œgreatâ€ connectio...,17,NaN,17,sprintcare,False,Tue Oct 31 19:59:13 +0000 2017,@115713 H there! We'd definitely like to work ...,16,18.0
4,20,115715,True,Tue Oct 31 22:03:34 +0000 2017,"@115714 whenever I contact customer support, t...",19,NaN,19,sprintcare,False,Tue Oct 31 22:10:10 +0000 2017,@115715 Please send me a private message so th...,NaN,20.0

In [50]:
#ë°ì´í„°í”„ë ˆì„ì—ì„œ í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•©ë‹ˆë‹¤

QnR = QnR[["author_id_x","created_at_x","text_x","author_id_y","created_at_y","text_y"]]
QnR.head(5)

,author_id_x,created_at_x,text_x,author_id_y,created_at_y,text_y
0,115712,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,sprintcare,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...
1,115712,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,sprintcare,Tue Oct 31 21:46:14 +0000 2017,@115712 I would love the chance to review the ...
2,115712,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,sprintcare,Tue Oct 31 21:45:59 +0000 2017,@115712 Hello! We never like our customers to ...
3,115713,Tue Oct 31 19:56:01 +0000 2017,@115714 yâ€™all lie about your â€œgreatâ€ connectio...,sprintcare,Tue Oct 31 19:59:13 +0000 2017,@115713 H there! We'd definitely like to work ...
4,115715,Tue Oct 31 22:03:34 +0000 2017,"@115714 whenever I contact customer support, t...",sprintcare,Tue Oct 31 22:10:10 +0000 2017,@115715 Please send me a private message so th...

## í†µì‹ ì‚¬ tweetë§Œ í•„í„°ë§í•˜ê¸°

ì´ ì˜ˆì œì—ì„œëŠ” ìŠ¤ë§ˆíŠ¸í° ë””ë°”ì´ìŠ¤ë¥¼ ì¸ì‹í•˜ê¸°ìœ„í•œ custom entityë¥¼ ìƒì„±í•©ë‹ˆë‹¤. 
ìš°ì„  ë°ì´í„°í”„ë ˆì„ì—ì„œ T-Mobileê³¼ Sprintì˜ tweetë§Œ í•„í„°ë§í•˜ì—¬ telco tweets ë°ì´í„°ë¥¼ ë§Œë“­ë‹ˆë‹¤.

In [47]:
tweet_telco = QnR[QnR["author_id_y"].isin(["TMobileHelp", "sprintcare"])]

í•„í„°ë§ëœ ë°ì´í„°ì—ì„œ ì§ˆë¬¸ê³¼ ì‘ë‹µì˜ text ë°ì´í„°ë¥¼ ê²°í•©í•˜ì—¬ í•˜ë‚˜ì˜ text ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±í•©ë‹ˆë‹¤.

In [ ]:
tweet_telco['text'] = tweet_telco['text_x']+ ' | ' + tweet_telco['text_y']

telco tweets ë°ì´í„°ë¥¼ csv íŒŒì¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤.

In [51]:
tweet_telco['text'].to_csv('./data/tweet_telco.csv', encoding='utf-8', index=False)

ë°ì´ì…‹ì„ ìƒì„±í•˜ê¸° ìœ„í•´ì„œëŠ” DEVICEë¼ëŠ” ìƒˆ í´ë˜ìŠ¤ì˜ Entity ëª©ë¡ì„ ì œê³µí•´ì•¼ í•©ë‹ˆë‹¤. 

ê´€ë ¨ Entityë¥¼ ì°¾ê¸° ìœ„í•´ì„œëŠ”, ì½”í¼ìŠ¤ë¥¼ word2vec ëª¨ë¸ë¡œ ë¡œë“œí•˜ê³  ìœ ì‚¬í•œ í‚¤ì›Œë“œ ëª©ë¡ì„ ìƒì„±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
ì´ ê¸°ìˆ ì€ ë‘ ë²ˆì§¸ ì˜ˆì—ì„œ ì‚¬ìš©ë  ê²ƒì…ë‹ˆë‹¤.

ìš°ë¦¬ëŠ” Deviceë¥¼ ì°¾ê¸° ìœ„í•´ ìŠ¤ë§ˆí”„í†¤ì˜ ë‹¤ë¥¸ ì² ì ëª©ë¡ì„ ìƒì„±í•  ê²ƒì…ë‹ˆë‹¤.

In [53]:
sphones = ['iPhone X', 'iPhoneX', 'iphoneX', 'Samsung Galaxy', 'Samsung Note', 'iphone', 'iPhone', 'android', 'Android']

df_entity_list = pd.DataFrame(sphones, columns=['Text'])

In [54]:
df_entity_list

             Text
0        iPhone X
1         iPhoneX
2         iphoneX
3  Samsung Galaxy
4    Samsung Note
5          iphone
6          iPhone
7         android
8         Android

DEVICE í´ë˜ìŠ¤ ë ˆì´ë¸”ë¡œ ë‹¤ë¥¸ ì»¬ëŸ¼ì„ ì¶”ê°€í•©ë‹ˆë‹¤. ì´ê²ƒì€ Amazon Comprehendì˜ í•™ìŠµ ë°ì´í„°ì…‹ì˜ ìš”êµ¬ ì‚¬ì–‘ì…ë‹ˆë‹¤. 

ìì„¸í•œ ë‚´ìš©ì€ ë‹¤ìŒ ë§í¬ë¥¼ í™•ì¸í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤. 

https://docs.aws.amazon.com/comprehend/latest/dg/cer-entity-list.html

In [55]:
df_entity_list['Type'] = 'DEVICE'

In [56]:
df_entity_list.head()

             Text    Type
0        iPhone X  DEVICE
1         iPhoneX  DEVICE
2         iphoneX  DEVICE
3  Samsung Galaxy  DEVICE
4    Samsung Note  DEVICE

í•™ìŠµ ë°ì´í„°íŒŒì¼ì„ ìƒì„±í•©ë‹ˆë‹¤.

In [ ]:
# íŒŒì¼ì´ í¬ë©´ í•™ìŠµì´ ëŠ¦ì–´ì§€ë¯€ë¡œ ì¼ë¶€ë§Œ í•™ìŠµí•˜ë„ë¡ í•©ë‹ˆë‹¤
#tweet_telco['text'].tail(5000).to_csv('./data/raw_txt.csv', encoding='utf-8', index=False)

tweet_telco['text'].to_csv('./data/raw_txt.csv', encoding='utf-8', index=False)

In [60]:
!head ./data/raw_txt.csv

"I feel like #Sprint hates me.

Maybe I deserve consistent slow LTE. Thanks Sprint, you only give me a low amount of first world problems.

I miss #TMobile &lt;/3 they sucked too, but not as bad as Sprint. | @803494 This sounds concerning. How long have you been experiencing slow speeds on your device? Does this happen in specific locations? Do you notice this indoors or outdoors? - JF"
.@115990 you all are pathetic I have been with you all 10 years and have been with uber 3 with a discount now you are forcing me back to #Sprint | @176582 Hey there! We'd love to see you as part of our family. Please check our great offers in this link: https://t.co/dwtDgGbWzU . - EG
"Very #disappointed again by the services of @116297 @115817 and @115911 - We keep paying and yet no one delivers.... #complaint #technews #tmobile #asurion #ups - Thanks for nothing! | @221395 Hi Athan, DM us and tell us what's going on. We'll make sure you get what you're expecting. *JoanO"
"@TMobileHelp @115911 I'm in Norwalk, CT and haven't had service in hours. Help! I saw on Down Detector that there is an outage, any update on when it'll be fixed? | @803724 Oh no! DM me and let's look into this ASAP! https://t.co/86MicZnF9C *WarrenCamp"
@TMobileHelp came through for me âœŠğŸ¤˜ | @792214 We will leave the #MagentaLights On if you need us again my friend :)  Take care and enjoy the rest of your day! *KimWilliams
".@115913 Note 4, Note 5, S7 Edge, S8+, and now Note 8. 100% of my Jumps have had an issue caused by T-Mobile to where I am unable to even leave the store with the phone. Why can't this be fixed by your staff? | @803725 @115913 Being able to get a new phone should always be an amazing feeling and should go as smoothly as possible. Send us a DM so I can look into this and we can find a solution for you right away. https://t.co/plE6XCdHhz *CharlesOpacki"


Entity ëª©ë¡ íŒŒì¼ì„ ìƒì„±í•©ë‹ˆë‹¤.

In [63]:
df_entity_list.to_csv('./data/entity_list.csv', encoding='utf-8', index=False)

In [61]:
!head ./data/entity_list.csv

Text,Type
iPhone X,DEVICE
iPhoneX,DEVICE
iphoneX,DEVICE
Samsung Galaxy,DEVICE
Samsung Note,DEVICE
iphone,DEVICE
iPhone,DEVICE
android,DEVICE
Android,DEVICE

ì›ë³¸ telco tweet ë°ì´í„°ì…‹ì—ì„œ í…ŒìŠ¤íŠ¸ íŒŒì¼ì„ ë§Œë“­ë‹ˆë‹¤.

In [ ]:
tweet_telco['text'].tail(100).to_csv('./data/telco_test.csv', encoding='utf-8', index=False)

## S3ì— íŒŒì¼ ì—…ë¡œë“œ

S3ì— ìƒì„±ëœ entry_list.csv, raw_txt.csv, telco_test.csv íŒŒì¼ì„ ì—…ë¡œë“œí•©ë‹ˆë‹¤.  


![title](./img/s3.png)

## ëª¨ë¸ í•™ìŠµí•˜ê¸°

Amazon Comprehend ì½˜ì†”ì„ í†µí•´ Custom entity recognizerì˜ Jobì„ ìƒì„±í•˜ê² ìŠµë‹ˆë‹¤. 
custom entity ì„¤ì •ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. 

![title](./img/ter.png)

Amazon Comprehendê°€ ìƒì„±í•œ S3ë²„í‚·ì— ì ‘ê·¼í•˜ê¸° ìœ„í•´ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì´ IAM roleì„ ìƒì„±í•©ë‹ˆë‹¤. 
![title](./img/iam.png)

## Custom entity ëª¨ë¸ í…ŒìŠ¤íŠ¸í•˜ê¸°

(1) ìƒì„±ëœ Custom entity ëª¨ë¸ì„ í…ŒìŠ¤íŠ¸í•˜ê¸° ìœ„í•´ì„œ Amazon Comprehend ì½˜ì†”ì˜ Analysis jobsë¥¼ í†µí•´ ë¶„ì„ jobì„ ìƒì„±í•©ë‹ˆë‹¤. 

![title](./img/ajob.png)

(2) Comprehend CLIë¥¼ í†µí•´ì„œ S3ì— ì˜¬ë ¤ë†“ì€ í…ŒìŠ¤íŠ¸ íŒŒì¼ì— ëŒ€í•œ ë¶„ì„ jobì„ ì‹¤í–‰í•  ìˆ˜ ìˆë‹¤. ë‹¤ìŒì€ ê·¸ ì˜ˆì œì…ë‹ˆë‹¤.

In [ ]:
!aws comprehend start-entities-detection-job \
     --entity-recognizer-arn "arn:aws:comprehend:us-east-1:{account number}:entity-recognizer/twitter-device-cer" \
     --job-name Test \
     --data-access-role-arn "arn:aws:iam::{account number}:role/service-role/AmazonComprehendServiceRole-cer-test" \
     --language-code en \
     --input-data-config "S3Uri=s3://{bucket name}/custom_entities/telco_test.csv" \
     --output-data-config "S3Uri=s3://{bucket name}/custom_entities/output/" \
     --region "us-east-1"


ì°¸ê³ ë¡œ CLIë¡œ ëª¨ë¸ì„ í…ŒìŠ¤íŠ¸í•˜ê¸° ìœ„í•´ì„œëŠ” IAM role ì„¤ì •ì´ ì¶”ê°€ì ìœ¼ë¡œ í•„ìš”í•©ë‹ˆë‹¤.
data-access-role-arn ì˜ roleì€ í•´ë‹¹ ë²„í‚·ì— PutObject ê¶Œí•œì´ í•„ìš”í•˜ê³ , ë…¸íŠ¸ë¶ ì¸ìŠ¤í„´ìŠ¤ì˜ roleì€ iam:PassRole ì„¤ì •ì´ í•„ìš”í•©ë‹ˆë‹¤.
ê´€ë ¨ ë‚´ìš©ì€ ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ê³ í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤. 
https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html

í…ŒìŠ¤íŠ¸ê°€ ì™„ë£Œë˜ë©´ --output-data-config ê²½ë¡œì— ì••ì¶•ëœ output json íŒŒì¼ì´ ìƒì„±ë©ë‹ˆë‹¤. 
![title](./img/output.png)

## Output ê²°ê³¼ í™•ì¸í•˜ê¸°
 
Ouptput ê²°ê³¼ëŠ” json íŒŒì¼ì„ ì§ì ‘ ì—´ì–´ í™•ì¸í•˜ê±°ë‚˜ AWS Glueì™€ Athenaë¥¼ í†µí•´ í™•ì¸ê°€ëŠ¥í•©ë‹ˆë‹¤. 
AWS Glueì˜ crawlerë¥¼ í†µí•´ S3ì˜ output íŒŒì¼ì„ ì½ì–´ Databaseë¥¼ ë§Œë“¤ê³  Athenaë¥¼ í†µí•´ ì¡°íšŒê°€ ê°€ëŠ¥í•©ë‹ˆë‹¤. 
ë‹¤ìŒì€ Glueì˜ Crawler ì„¤ì • ì˜ˆì œì…ë‹ˆë‹¤. 
![title](./img/glue.gif)

Athenaì—ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì€ queryë¥¼ í†µí•´ Custom entity ì¸ì‹ ê²°ê³¼ë¥¼ Deviceë³„ë¡œ ì¡°íšŒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

"SELECT col3, count(col3) FROM "comprehend"."telco_device_test_json" group by col3;"

![title](./img/test.png)

ìœ„ ê²°ê³¼ ì¤‘, "ipone"ì€ ë°ì´í„°ì…‹ì— íƒœê¹…ëœ Entity ëª©ë¡ì— í¬í•¨ë˜ì§€ ì•Šìœ¼ë‚˜ ComprehendëŠ” ì–´ëŠ ì •ë„ ì •í™•í•œ ì‹ ë¢°ë„ë¥¼ ê°€ì§€ê³  ì´ë¥¼ ì„ íƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 


### ì°¸ê³ 
https://aws.amazon.com/blogs/machine-learning/getting-started-with-amazon-comprehend-custom-entities/
https://aws.amazon.com/blogs/machine-learning/build-a-custom-entity-recognizer-using-amazon-comprehend/